.text-center .event:hover {
    background: #d77aff;
}

.event2 div{
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.event2:hover div {
    visibility: visible;
    background-color: #d96262;
}

.busy_hours {
    background-color: #c3cace;
}

.not_busy_hours {
    background-color: white;
}
