.text-center #event:hover {
    background: #d77aff;
}
.text-center #hour:hover {
    background: #7affff;
}

#event {
    /*font-size: 10pt;*/
    /*border: 1px solid black;*/
    /*padding: -3px;*/
}

#hours {
    /*padding: 1.3px;*/
}

.busy_hours {
    background-color: #d6d8d9;
}

.not_busy_hours {
    background-color: white;
}

